body.page-node-type-noticias .breadcrumb{
	margin: 10px 0px;
	margin-bottom: 10px;
	border-bottom: #eee 1px solid;
}

body.page-node-type-noticias .breadcrumb li{
	color:#303c49;
	font-size:13px;
}

body.page-node-type-noticias .breadcrumb li a{
	color:#178AD2;
}


