

body.page-node-type-noticias p{
	font-size: 16px;
	font-family: 'Open Sans';
	color: #333333;
	line-height: 1.5;
	letter-spacing: -0.7px;
	word-spacing: 3.3px;
	margin-bottom: 18px;

}

body.page-node-type-noticias li{
        font-size: 14px;
        font-family: 'Open Sans';
        color: #333333;
}



/*main content*/
body.page-node-type-noticias #container{
	clear:both;
	overflow: hidden;
	border-top: 3px double #cde;
}

body.page-node-type-noticias .container-wrap{
	max-width: 1129px !important;
	margin: 0 auto !important;
}

/*post content */
body.page-node-type-noticias .content-sidebar-wrap{
	/*display:inline-block;*/
	float: left;
	width:72%;
}

/*rightbar content*/
body.page-node-type-noticias #sidebar-second{
	float: right;
	/*display:inline-block;*/
	/*vertical-align:top;*/
	width:28%;
	margin-top: 10px;
}

body.page-node-type-noticias .content-sidebar-wrap .region-content{
	float:right;
}


/*content title*/
body.page-node-type-noticias .content-sidebar-wrap-70 .region-content .node--type-noticias h2{
	
	margin: 16px 0px 0px 0px;
}

body.page-node-type-noticias h2 span.field--name-title{
	font-family: 'Open Sans';
	font-size: 1.2em !important;
	text-align: center;
	font-weight: normal;
	color: #303c49;
	display: inline-block;
	margin: 16px 0 20px 0;
	position: relative;
	width: 100%;
	overflow: hidden;
}

/*content */

body.page-node-type-noticias .node__content h2{
	font-family: 'Open Sans';
	font-size: 0.8em;
	font-weight: bold;
	color: #303c49;
	display: inline-block;
	margin: 16px 0 5px 0;
	position: relative;
	width: 100%;
	overflow: hidden;
}

body.page-node-type-noticias .node__content h2::after{
	background: #aac none repeat scroll 0 0;
	content: "";
	height: 1px;
	margin: 9px 0 0 5px;
	position: absolute;
	width: 100%;
}

body.page-node-type-noticias .node__content{
	text-align: justify;
}

/*Sidebar últimas notícias title*/

body.page-node-type-noticias #sidebar-second .block-views h2{
	color: #8e8e9b;
	border: none;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bold;
	font-family: 'Open sans';
	font-size:0.9em;
	text-align:center;
}

/*preview noticias content*/

body.page-node-type-noticias .container-wrap .view-noticias .views-row{
	display: block;
}

body.page-node-type-noticias .container-wrap .view-noticias .view-content .views-row{
	margin-bottom:30px;
	text-align: center;
	margin-left:24px;
}

/*previw noticias img*/
body.page-node-type-noticias .view-noticias .view-content .views-row img{
	height:174px;
	width:265px;
}

/*link noticias preview title*/
body.page-node-type-noticias .view-noticias .view-content .views-field-title a{
	margin-left:14px;
}
