html, body{
	max-width:100%;
}



/*
  footer
*/

#footer-wrapper{
	overflow: hidden;
	background-color:#23517E;
	border:none;
	margin-top:0;
	padding: 10px 0px;
}

#footer-wrapper .region-footer #block-pas-theme-menurodape{
	margin: 0 auto;
	max-width: 1129px;
	margin-top:15px;
}

#footer-wrapper .region-footer ul.menu{
	margin: 3px 0 0 10px;
}

#footer-wrapper .region-footer .menu > .first{
	display: none;
}

/*align list horizontal*/
#footer-wrapper .region-footer #block-pas-theme-menurodape ul li{
	min-width: 12%;
	margin-right: 10px;
	border-bottom: medium none;
	/*float: left;*/
	list-style: none;
	display:inline-block;
	vertical-align:top;
}

#block-pas-theme-menurodape ul li ul{
	margin: 0 0 0 0;
}

/*hiding first element of the list*/

#footer-wrapper .region-footer #block-pas-theme-menurodape .menu li:first-of-type{
	display:none;
}

/*order list subitems in vertical*/

#footer-wrapper .region-footer #block-pas-theme-menurodape ul.menu li.menu-item li{
	/*float:none;*/
	display:block
}


/*footer span style*/

#footer-wrapper .region-footer #block-pas-theme-menurodape ul.menu span{
	font-size: 1em;
	font-weight: 600;
	display: block;
	font-family: Overlock;
	color: #fff;
	letter-spacing: 0.05em;
}

/*footer link a style*/

#footer-wrapper .region-footer #block-pas-theme-menurodape ul li a{
	font-size: 1em;
	font-family: Overlock;
	color: #fff;
	letter-spacing: 0.05em;
	display: block;
	padding: 3px 13px 3px 15px;
}


#footer-wrapper .region-footer #block-pas-theme-menurodape ul li a:hover{
	text-decoration: underline;
}
