/*
  Reset default CSS
*/
#header-wrapper li{
	list-style:none;
}


/*
  Menu header
*/


/*
  Header container wrapper
*/
.layout-container #header-wrapper{
	margin: 0 auto;
	max-width: 1129px;
	height:129px;
}

/*
  Logo pas theme
*/
#header-wrapper #block-pas-theme-branding{
	margin: 10px 10px 0px;	
	opacity: 0.85;
	width:30%;
}

/*Menu acesso rápido*/

#header-wrapper .menu--menu-cabecalho{
	margin-top:-94px;
}

#header-wrapper .menu--menu-cabecalho  ul.menu{
	margin-left: 572px;
}

#header-wrapper ul.menu li{
        display:inline-block;
        font-size: 12pt;
}

#header-wrapper ul.menu li.menu-item a{
        color:#757584;
        text-decoration: none;
}

#header-wrapper ul.menu li.menu-item a:hover{
        color:#757584;
        text-decoration: underline;
}

#header-wrapper ul.menu li.menu-item span{
        color:#01426a;
        font-size:13pt;
}

#header-wrapper ul.menu li.menu-item{
        width:auto;
        padding:5px;
}

#header-wrapper .menu--menu-cabecalho ul.menu li.menu-item a{
	font-size:10pt;
}

#header-wrapper .menu--menu-cabecalho ul.menu li.menu-item span{
	color: #01426a;
	font-weight: none;
	font-size:13pt;
}

/*
  Config form search in header
*/
#header-wrapper #search-block-form{
	width:23%;
	float:right;
	
}

/*
  form search style
*/
#header-wrapper #block-pas-theme-search{
	width:100%;
}


#header-wrapper .form-search{
	width: 168px;
	float:left;
	margin-right:5px;
	padding:4px;
	border-radius:3px;
	border: 1px solid #C7C7C7;
	margin-left:47px;
}

/*search button style*/
#header-wrapper #edit-submit{
	background: url(/themes/pas_theme/images/search-icon.png) no-repeat center top;
	height: 27px;
	width: 29px;
	padding: 0;
	cursor: pointer;
	text-indent: -9999px;
	overflow: hidden;
	box-shadow: none;
	border: 0;
}

/*edit submit different id*/
#header-wrapper #edit-submit--3{
	/*display:none;*/
	background: url(/themes/pas_theme/images/search-icon.png) no-repeat center top;
	height: 27px;
	width: 29px;
	padding: 0;
	cursor: pointer;
	text-indent: -9999px;
	overflow: hidden;
	box-shadow: none;
	border: 0;
}


/*
  Menu superfish Region
*/

#header-wrapper .block-superfish{
	width:100%;
	height: 23px;
	margin-top:70px;
}

#header-wrapper #block-menurodape ul.sf-menu.menu{
	text-align: center;
	text-transform: uppercase;
	color: #4e4e4e;
	font-size: 15px;
	margin-left:53px;
	text-decoration: none;
	height: 26px;
	margin-right: 192px;
}

#header-wrapper ul.sf-menu a{
	text-decoration: none;
	color: #4e4e4e;
}

#header-wrapper ul#superfish-menu-rodape li#menu-rodape-menu-link-content402bea4d-7113-4bfb-a725-4b00ae898f4d a{
	font-size: 12pt;
	padding: 10px;
	text-transform: uppercase;
	background: none;
	padding: 8px 12px;
}

#header-wrapper ul#superfish-menu-rodape li#menu-rodape-menu-link-content402bea4d-7113-4bfb-a725-4b00ae898f4d a:hover{
	box-shadow: 1px 2px 1px #fff inset,-2px -2px 1px #fff inset;
	background: #ddd none repeat scroll 0 0;
	background-color:#cfcfcf;
}

#header-wrapper ul.sf-menu.menu span{
	padding: 8px 12px;
}

#header-wrapper ul.sf-menu.menu span:hover{
	cursor:default;
	box-shadow: 1px 2px 1px #fff inset,-2px -2px 1px #fff inset;
	background: #ddd none repeat scroll 0 0;
}

/*list superfish*/

#header-wrapper #block-menurodape li{
	padding-right: 10px;
	padding-left: 10px;
	margin-top:-8px;
}

#header-wrapper #block-menurodape ul.menu li a{
	text-align: left;
	color:#4e4e4e;
	text-transform: none;
	font-size: 13px;
	color: #4e4e4e;
	background: #ffffff none repeat scroll 0 0;
	border: medium none;
}

#header-wrapper #block-menurodape ul.menu li a:hover {
	cursor:pointer;
	box-shadow: 1px 2px 1px #fff inset,-2px -2px 1px #fff inset;
	background: #e0e0e0 none repeat scroll 0 0;
}

