/*
  Responsive CSS
*/

@media only screen and (max-width:1024px) {
	body{
		/*background-color:blue;*/
	}

	/*Header*/
	#header-wrapper #block-pas-theme-branding{
		margin: 10px 0px 0px;
	}
	#header-wrapper #block-menurodape ul > li{
/*		padding-bottom: 7px;*/
	}

	#header-wrapper #block-menurodape ul.menu li a{
		text-align: center;
	}
	#header-wrapper ul.sf-menu.menu span{
		background: #fff none repeat scroll 0 0;
	}

	/*Responsive Superfish menu*/

	#superfish-menu-rodape-accordion #menu-rodape-menu-link-content402bea4d-7113-4bfb-a725-4b00ae898f4d-accordion a{
		display: none;
	}
	.sf-clone-parent .sf-depth-1.nolink{
		display: none;
	}


	/*Breadcrumb*/
	.breadcrumb ol{
		padding-left: 63px;
	}
	/*Links Úteis - View Notícias*/

	.view-noticias .view-header .links_uteis_wreapper{
		height:500px;
	}

	.view-noticias .view-header .links_uteis_content .link_item{
		width:100%;
		margin-bottom:22px;
	}
	.view-noticias .views-row{
/*		display:block;*/
	}
	.view-noticias .view-header{
		height:530px;
	}
	.view-noticias .view-header .links_uteis_content{
		max-width: 589px;	
	}
	.view-noticias .view-header .links_uteis_content{
		margin: 45px auto;
	}
 	/*Noticias title*/
	.view-noticias .view-header .title-view{
		height:45px;
		width: inherit;
	}
	/*left title*/
	.view-noticias .view-header .title-view .col-left{
		margin-left: 20px;
	}
	
	/*Notícias recentes - View Notícias*/
	
	.view-noticias .view-content{
		width:inherit;
		margin-top:40px;
	}
	.view-noticias .views-row{
		width:100%;
		margin: 10px auto;
		text-align: center;
	}

	/*Notícias recentes sidebar first e sidebar second*/
	body.path-node .content-sidebar-wrap{
		width:90%;
		display: block;
		margin: 0 auto;
	}

	body.path-node #sidebar-second{
		width:100%;
	}

}

@media only screen and (max-width:900px) {
	body{
	}
	#header-wrapper #block-pas-theme-search{
		height: 42px;
	}
	.layout-container #header-wrapper{
		height: 180px;
	}
	#container{
		border-top: none;
	}
	/*Breadcrumb*/
	.breadcrumb ol{
		padding-left: 63px;
	}
	.view-front-banner .banner_central .content h1{
		font-size:36px;
	}
	#header-wrapper .menu--menu-cabecalho ul.menu{
		display:none;
	}
	/*superfish menu*/
	#header-wrapper ul.sf-menu.menu span{
		font-size:15px;
	}
	#header-wrapper ul#superfish-menu-rodape li#menu-rodape-menu-link-content402bea4d-7113-4bfb-a725-4b00ae898f4d a{
		font-size:15px;
	}

	/*contatos*/
	.view-noticias .view-footer .contact .contact_box {
		width: 92%;
		min-height: 180px;
		margin: 20px 0 20px 20px;
	}
	/*content type post noticias*/
	body.path-node .node--type-noticias h1 span.field--name-title{
		font-size: 1.6em;
	}

 /*Footer*/

        #footer-wrapper .region-footer #block-pas-theme-menurodape ul li{
                display:block;
        }
        #footer-wrapper .region-footer ul.menu{
                margin-bottom: 20px;
        }
        #footer-wrapper .region-footer #block-pas-theme-menurodape ul.menu span{
                margin-bottom: 7px;
                font-size: 0.9em;
        }
        #footer-wrapper .region-footer #block-pas-theme-menurodape ul li a{
                font-size: 0.9em;
        }

}


@media only screen and (max-width:860px) {
        body{
                /*background-color:green;*/
        }
	#header-wrapper #block-pas-theme-branding{
		width:100%;
		text-align:center;
	}

	/*Sumindo o menu superfish enquanto nao ajeita o menu sf smallscreen*/
	#header-wrapper .block-superfish{
		/*display:none;*/
	}
	#header-wrapper #search-block-form{
		margin-top: 0px;
		width:275px;
		margin: 0 auto;
		padding: 0 0 0 10px;
		float:none;
		position: revert;
	}	
	
	/*Cabeçalho view */
	.view-front-banner .banner_central .content h1{
		font-size:32px;
	}

	.view-front-banner .banner_central span a{
		font-weight: bold;
		font-size: 16px;
		color: #0D5582;
	}

	.view-front-banner .banner_central_wrapper{
		height:600px;
	}

	.view-front-banner .servicos_content .servico{
		width:49%;
		margin-bottom: 15px;
	}
	.view-front-banner .banner_central_wrapper .servicos_wrapper{
		height:365px;
	}	
	.view-front-banner .banner_central_wrapper{
		height:600px;
	}
	.view-front-banner .servicos_content{
		height:365px;
		opacity: 1;
		background: #136a9f;		
	}


	/*borda*/
	.path-frontpage #container{
		border:none;
		margin-top:20px;
	}
}



@media only screen and (max-width:640px){
	#header-wrapper #block-pas-theme-branding{
		/*width:97%;
		text-align: center;*/
	}
	#header-wrapper .region-header{
		height: 132px;
	}
	#header-wrapper ul.sf-menu.menu span{
		height: 40px;
	}
	#header-wrapper #block-menurodape ul.menu li > ul li{
		border-color: #dddddd;
		border-style: solid;
		border-width: 1px 1px 1px 4px;
		box-shadow: 0 12px 14px rgba(0,0,0,0.176);
		border-top: #ddd 1px solid;
		border-bottom: #ddd 1px solid;
	}
	#header-wrapper #block-menurodape li{
		padding-right: 0px;
		padding-left: 0px;
	}
	#container{
		border-top:none;
	}
	.layout-container #header-wrapper{
		height: 195px;
	}	
	#header-wrapper #block-pas-theme-search{
		height:50px;
	}
	/*Banner view front page*/
	.view-front-banner .banner_central .content h1{
		color: #1c1c1e;
		font-size: 28px;
	}	
	.view-noticias .view-content{
		margin-top:70px;	
	}

	/*links úteis*/
	.view-noticias .view-header .links_uteis_wreapper{
		height: 540px;
	}
	.view-noticias .view-header .links_uteis_content .link_item{
		width: 92%;
		margin-left: 10px;
	}
	
	/*Notícias*/

	body.path-noticia .view-noticias .views-row{
		width:100%;
		display:block;
	}

	/*Serviços view footer*/

	.view-noticias .view-footer .news_top .service_title{
		text-align:center;
	}
	.view-noticias .view-footer .service_item{
		width:49%;
	}
	
	/*Breadcrumb*/
	.breadcrumb ol{
		padding-left: 0px;
	}

	/*Content type noticias post*/
	body.path-node .node--type-noticias h1 span.field--name-title {
	 	font-size: 1.4em;
	}
	/*Footer*/

	#footer-wrapper .region-footer #block-pas-theme-menurodape ul li{
		display:block;
	}
	#footer-wrapper .region-footer ul.menu{
		margin-bottom: 20px;
	}
	#footer-wrapper .region-footer #block-pas-theme-menurodape ul.menu span{
		margin-bottom: 7px;
		font-size: 0.9em;
	}
	#footer-wrapper .region-footer #block-pas-theme-menurodape ul li a{
		font-size: 0.9em;
	}



}




