/*
  Responsive CSS
*/

@media only screen and (max-width:1024px) {
	body{
		/*background-color:blue;*/
	}

	/*Header*/
	#header-wrapper #block-pas-theme-branding{
		margin: 10px 0px 0px;
	}
	/*Links Úteis - View Notícias*/

	.view-noticias .view-header .links_uteis_wreapper{
		height:500px;
	}

	.view-noticias .view-header .links_uteis_content .link_item{
		width:100%;
		margin-bottom:22px;
	}
	.view-noticias .views-row{
		display:block;
	}
	.view-noticias .view-header{
		height:530px;
	}
	.view-noticias .view-header .links_uteis_content{
		max-width: 589px;	
	}
	.view-noticias .view-header .links_uteis_content{
		margin: 45px auto;
	}
 	/*Noticias title*/
	.view-noticias .view-header .title-view{
		height:45px;
		width: inherit;
	}
	/*left title*/
	.view-noticias .view-header .title-view .col-left{
		margin-left: 20px;
	}
	
	/*Notícias recentes - View Notícias*/
	
	.view-noticias .view-content{
		width:inherit;
		margin-top:40px;
	}
	.view-noticias .views-row{
		width:335px;
		margin-bottom: 25px;
		margin: 10px auto;
	}

	.view-noticias .view-footer .contact .contact_content{
		
	}

	.view-noticias .view-footer .contact .contact_box{
		
	}

}

@media only screen and (max-width:900px) {
	body{
/*		background-color:red;*/
	}
	.view-front-banner .banner_central .content h1{
		font-size:36px;
	}
	#header-wrapper .menu--menu-cabecalho ul.menu{
		display:none;
	}
	/*superfish menu*/
	#header-wrapper ul.sf-menu.menu span{
		font-size:15px;
	}
	#header-wrapper ul#superfish-menu-rodape li#menu-rodape-menu-link-content402bea4d-7113-4bfb-a725-4b00ae898f4d a{
		font-size:15px;
	}

	




	/*contatos*/
	.view-noticias .view-footer .contact .contact_box {
		width: 92%;
		min-height: 180px;
		margin: 20px 0 20px 20px;
	}
}


@media only screen and (max-width:860px) {
        body{
                /*background-color:green;*/
        }
	#header-wrapper #block-pas-theme-branding{
		width:100%;
		text-align:center;
	}

	/*Sumindo o menu superfish enquanto nao ajeita o menu sf smallscreen*/
	#header-wrapper .block-superfish{
		display:none;
	}
	#header-wrapper #search-block-form{
		margin-top: 0px;
		width:275px;
		margin: 0 auto;
		padding: 0 0 0 10px;
		float:none;
		position: revert;
	}	
	
	/*Cabeçalho view */
	.view-front-banner .banner_central .content h1{
		font-size:32px;
	}

	.view-front-banner .banner_central span a{
		font-weight: bold;
		font-size: 16px;
		color: #0D5582;
	}

	.view-front-banner .banner_central_wrapper{
		height:600px;
	}

	.view-front-banner .servicos_content .servico{
		width:49%;
		margin-bottom: 15px;
	}
	.view-front-banner .banner_central_wrapper .servicos_wrapper{
		height:365px;
	}	
	.view-front-banner .banner_central_wrapper{
		height:600px;
	}
	.view-front-banner .servicos_content{
		height:365px;
		opacity: 1;
		background: #136a9f;		
	}


	/*borda*/
	.path-frontpage #container{
		border:none;
		margin-top:20px;
	}
}



@media only screen and (max-width:640px){
	#header-wrapper #block-pas-theme-branding{
		/*width:97%;
		text-align: center;*/
	}
	#header-wrapper .region-header{
		height: 132px;
	}
	#header-wrapper #search-block-form{
		/*float:none;
		margin-left:100px;*/
	}
	
	/*Banner view front page*/
	.view-front-banner .banner_central .content h1{
		color: #1c1c1e;
		font-size: 28px;
	}	
	.view-noticias .view-content{
		margin-top:70px;	
	}

	/*links úteis*/
	.view-noticias .view-header .links_uteis_wreapper{
		height: 540px;
	}
	.view-noticias .view-header .links_uteis_content .link_item{
		width: 92%;
		margin-left: 10px;
	}
	
	/*Serviços view footer*/

	.view-noticias .view-footer .news_top .service_title{
		text-align:center;
	}
	.view-noticias .view-footer .service_item{
		width:49%;
	}

	/*Footer*/

	#footer-wrapper .region-footer #block-pas-theme-menurodape ul li{
		display:block;
	}
	#footer-wrapper .region-footer ul.menu{
		margin-bottom: 20px;
	}
	#footer-wrapper .region-footer #block-pas-theme-menurodape ul.menu span{
		margin-bottom: 7px;
		font-size: 0.9em;
	}
	#footer-wrapper .region-footer #block-pas-theme-menurodape ul li a{
		font-size: 0.9em;
	}



}




