html {
    font-family: 'Open Sans';
    margin-bottom: 0;
}

.banner_central{
	width: 100%;
	margin: 0 auto;
	height: 450px;
	background-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/banner_topo_v2.jpg);
	background-size: cover;
}

.banner_central_wrapper{
	margin-top: -37px;	
}


/*
  Services content
*/

.servicos_wrapper{
	width:100%;
}

.servicos_content {
        width: 100%;
        height: 200px;
	margin: 0 auto;
	color: #fff;
        box-shadow: 0px 2px 2px 0px rgb(79,106,79);
    	opacity: 0.7;
	background: #01426a;
	margin-top:-96px;
}

.servicos_content a{
	text-decoration: none;
}

.servicos_content .alinhamento {
    width: 1129px;
    margin: 0 auto;
}

.title_services {
    text-align: center;
    padding-top: 1px;
}

.servicos_content .servico {
   /* float: left;*/
	text-align: center;
    	display:inline-block;
	width: 24%;
	font-size: 0.7em;
	margin-top: -12px;
}

.servicos_content a {
    color: #fff;
}

.banner_central .content{
	text-align: center;
	padding-top: 6%;
	height: 236px;
}

.banner_central .content h1 {
        font-size: 48px;
        color: #3f3f48;
        text-shadow: 5px 7px 15px #666;
	margin: 0px 0px 6px 0px;
}

.banner_central .content span {
    font-size: 19px;
    color: #3f3f48;
}

}

.servicos_content h2 {
    margin-top: -4px !important;
}

.servico h2 {
    margin-top: 4px !important;
    font-size: 17px;
    letter-spacing: 1.3px;
    font-weight:normal;
}

.title_services h2 {
    font-size: 19pt !important;
    color: #fff !important;
    margin-top:10px;
    font-weight:normal;
}

.content a {
    color: #178AD2;
    text-decoration: none;
}

.content a:hover{
	color: #449BD3;
}

.servico{
	transition: transform 0.3s;

}

.servico:hover{
	transform: translateY(-5px);
}

/*
  Icone acesso rápido
*/

.icon_acesso_rapido {
    width: 132px;
    height: 115px;
    margin: 0 auto;
}

.icon_acesso_rapido{

}

/*
  Beneficiário
*/

.acesso_beneficiario {
    background-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/services_icons.png);
    background-position: -8px -32px;
    background-size: 513px;
}

/*
  Credenciados
*/
.acesso_credenciados {
    background-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/services_icons.png);
    background-position: -154px -36px;
    background-size: 534px;
}

/*
  Peritos
*/
.acesso_peritos {
    background-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/services_icons.png);
    background-position: -390px -36px;
    background-size: 535px;
}

/*
  Gestores
*/
.acesso_gestores {
    background-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/services_icons.png);
    background-position: -281px -36px;
    background-size: 535px;
    width: 120px;
}



/*
  Links Úteis
*/


/*Links úteis div*/
.links_uteis_content {
    width: 1129px;
    margin: 30px auto;
    height: 175px;
}

/*Links úteis grid content*/
.links_uteis_content .link_item {
    	width: 336px;
    	height: 134px;
    	padding-left: 7px;
    	display:inline-block;
    	border-left: 10px solid;
        border-left-style: solid;
        border-left-width: 10px;
	border-radius: 4px;
    	border-style: solid;
	border-width: 0 7px;
   	border-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/borderv2.png) 0 0 0 7 fill stretch;
    	box-shadow: 0px 0px 5px 0px rgba(206,206,206,0.94);
    	padding-top: 6px;
    	padding-bottom: 16px;
    	padding-right: 0px;
    	transition: transform 0.3s,box-shadow 0.3s;
	margin-right: 12px;
}

.link_item{
    transform:0.3s;
}

.link_item:hover {
    transform: translateY(-5px);
}

.link_item a {
    color: #fff;
}

.links_uteis_content .link_item .topo_item {
    height: 82px;
    margin-top:-26px;
}

.imagem_item {
    float: left;
    width: 60px;
    height: 60px;
    margin: 12px 26px 0 10px;
}

.links_uteis_content .link_item .topo_item h2 {
    color: #a61933;
    font-size: 28px;
    font-weight: bold;
}

.links_uteis_content .link_item .corpo_item {
    color: #535362;
    text-align: left;
    padding-left: 5px;
}

.links_uteis_content .link_item .corpo_item {
    color: #535362;
    text-align: left;
    padding-left: 5px;
}

.corpo_item p {
    margin-top: 19px;
    text-align: left;
    padding-left: 5px;
    font-size: 15px;
}

/*
  Imagem guia médico
*/

.imagem_guia_medico {
    background-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/services_icons.png);
    background-position: 310px 198px;
    background-size: 310px;
}

/*
  Imagem seus gastos
*/

.imagem_seus_gastos {
       background-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/services_icons.png);
    background-position: 60px 198px;
    background-size: 310px;
}

/*
  Imagem autorização internet
*/

.imagem_autorizacao_internet {
    background-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/services_icons.png);
    background-position: 179px 198px;
    background-size: 310px;
}

