
/*Reset CSS*/
a{
	color: #178AD2;
	text-decoration: none;
}

p {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Open Sans';
	margin-bottom: 0;
}

/*View Notícias Header
  Deve-se adicionar classe CSS "view-noticias"
  na view
*/


body.path-frontpage .view-noticias .view-header .banner_central_wrapper{
}

/*banner central background*/

body.path-frontpage .view-noticias .view-header .banner_central_wrapper .banner_central{
        width: 100%;
        margin: 0 auto;
        height: 450px;
        background-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/banner_topo_v2.jpg);
        background-size: cover;
}

/*serviços content*/

body.path-frontpage .view-noticias .view-header .banner_central .content{
        text-align: center;
        padding-top: 6%;
        height: 236px;
}

body.path-frontpage .view-noticias .view-header .servicos_content {
        width: 100%;
        height: 200px;
        margin: 0 auto;
        color: #fff;
        box-shadow: 0px 2px 2px 0px rgb(79,106,79);
        opacity: 0.7;
        background: #01426a;
        margin-top:-96px;
}

body.path-frontpage .view-noticias .view-header .servicos_content a{
        text-decoration: none;
}

body.path-frontpage .view-noticias .view-header .servicos_content .alinhamento {
    width: 1129px;
    margin: 0 auto;
}

body.path-frontpage .view-noticias .view-header .servicos_content .title_services {
    text-align: center;
    padding-top: 1px;
}

body.path-frontpage .view-noticias .view-header .servicos_content .servico {
        text-align: center;
        display:inline-block;
        width: 24%;
        font-size: 0.7em;
        margin-top: -12px;
}

body.path-frontpage .view-noticias .view-header .servicos_content a {
	color: #fff;
}


body.path-frontpage .view-noticias .view-header .banner_central .content h1 {
        font-size: 48px;
        color: #3f3f48;
        text-shadow: 5px 7px 15px #666;
        margin: 0px 0px 6px 0px;
}

body.path-frontpage .view-noticias .view-header .banner_central .content span {
    	font-size: 19px;
	color: #3f3f48;
}

body.path-frontpage .view-noticias .view-header .servicos_content h2 {
	margin-top: -4px !important;
}

body.path-frontpage .view-noticias .view-header .servicos_content .servico h2 {
	margin-top: 4px !important;
	font-size: 17px;
	letter-spacing: 1.3px;
	font-weight:normal;
}

body.path-frontpage .view-noticias .view-header .servicos_content .title_services h2 {
    	font-size: 19pt !important;
	color: #fff !important;
	margin-top:10px;
	font-weight:normal;
}

body.path-frontpage .view-noticias .view-header .banner_central .content a {
	color: #178AD2;
	text-decoration: none;
}

body.path-frontpage .view-noticias .view-header .banner_central .content a:hover{
        color: #449BD3;
}

body.path-frontpage .view-noticias .view-header .servicos_content .servico{
        transition: transform 0.3s;

}


body.path-frontpage .view-noticias .view-header .servicos_content .servico:hover{
        transform: translateY(-5px);
}

/*
  Icones acesso rápido default
*/

body.path-frontpage .view-noticias .view-header .servicos_content .servico .icon_acesso_rapido {
    	width: 132px;
	height: 115px;
	margin: 0 auto;
}

/*
  Beneficiários img
*/

body.path-frontpage .view-noticias .view-header .servicos_content .servico .acesso_beneficiario {
    	background-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/services_icons.png);
	background-position: -8px -32px;
	background-size: 513px;
}

/*
  Credenciados img
*/
body.path-frontpage .view-noticias .view-header .servicos_content .servico .acesso_credenciados {
	background-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/services_icons.png);
	background-position: -154px -36px;
	background-size: 534px;
}

/*
  Peritos img
*/
body.path-frontpage .view-noticias .view-header .servicos_content .servico .acesso_peritos {
	background-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/services_icons.png);
	background-position: -390px -36px;
	background-size: 535px;
}


/*
  Gestores img
*/
body.path-frontpage .view-noticias .view-header .servicos_content .servico .acesso_gestores {
	background-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/services_icons.png);
	background-position: -281px -36px;
	background-size: 535px;
	width: 120px;
}

/*
  Links Úteis
*/


/*Links úteis div*/
body.path-frontpage .view-noticias .view-header .links_uteis_content {
	width: 1129px;
	margin: 30px auto;
	height: 175px;
}

/*Links úteis grid content*/

body.path-frontpage .view-noticias .view-header .links_uteis_content .link_item {
        width: 336px;
        height: 134px;
        padding-left: 7px;
        display:inline-block;
        border-left: 10px solid;
        border-left-style: solid;
        border-left-width: 10px;
        border-radius: 4px;
        border-style: solid;
        border-width: 0 7px;
        border-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/borderv2.png) 0 0 0 7 fill stretch;
        box-shadow: 0px 0px 5px 0px rgba(206,206,206,0.94);
        padding-top: 6px;
        padding-bottom: 16px;
        padding-right: 0px;
        transition: transform 0.3s,box-shadow 0.3s;
        margin-right: 12px;
}

body.path-frontpage .view-noticias .view-header .links_uteis_content .link_item{
	transform:0.3s;
}

body.path-frontpage .view-noticias .view-header .links_uteis_content .link_item:hover {
	transform: translateY(-5px);
}

body.path-frontpage .view-noticias .view-header .links_uteis_content .link_item a {
	color: #fff;
}

body.path-frontpage .view-noticias .view-header .links_uteis_content .link_item .topo_item {
	height: 82px;
	margin-top:-26px;
}

/*Imagem itens default*/

body.path-frontpage .view-noticias .view-header .links_uteis_content .link_item .imagem_item {
	float: left;
	width: 60px;
	height: 60px;
	margin: 12px 26px 0 10px;
}

/*Corpo itens default*/

body.path-frontpage .view-noticias .view-header .links_uteis_content .link_item .topo_item h2 {
    	color: #a61933;
	font-size: 28px;
	font-weight: bold;
}


body.path-frontpage .view-noticias .view-header .links_uteis_content .link_item .corpo_item {
	color: #535362;
	text-align: left;
	padding-left: 5px;
}

body.path-frontpage .view-noticias .view-header .links_uteis_content .link_item .corpo_item p {
	margin-top: 19px;
	text-align: left;
	padding-left: 5px;
	font-size: 15px;
}

/*
  Imagem guia médico e odontológico
*/

body.path-frontpage .view-noticias .view-header .imagem_guia_medico {
	background-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/services_icons.png);
	background-position: 310px 198px;
	background-size: 310px;
}

/*
  Imagem histórico de utilização
*/

body.path-frontpage .view-noticias .view-header .imagem_seus_gastos {
        background-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/services_icons.png);
        background-position: 60px 198px;
        background-size: 310px;
}

/*
  Imagem autorização online
*/

body.path-frontpage .view-noticias .view-header .imagem_autorizacao_internet {
	background-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/services_icons.png);
	background-position: 179px 198px;
	background-size: 310px;
}

/*View title notícias*/

body.path-frontpage .view-noticias .view-header .title-view{
	width: 1129px;
	margin: 0 auto;
        margin-bottom: 0px;
	height: 60px;
	border-bottom: 1px solid rgb(79,106,79);
	margin-bottom: 4px;
	position:relative;
}


body.path-frontpage .view-noticias .view-header .title-view .col-left{
	display:inline-block;
}

body.path-frontpage .view-noticias .view-header .title-view .col-left h2{
	font-weight:bold;
	color:#01426a;
	font-size: 19px;
}

body.path-frontpage .view-noticias .view-header .title-view .col-right{
	position:absolute;
	right:0px;
	top:18px;
}

body.path-frontpage .view-noticias .view-header .title-view .col-right a{
	text-decoration:none;
	font-size: 13px;
	padding: 5px;
}


/*Here ends view header*/


/*Views Notícias content*/


body.path-frontpage .view-noticias .view-content{
	width:1129px;
	margin: 0 auto;
}

body.path-frontpage .view-noticias .view-content .views-row{
	display:inline-block;
	width:33%;
	margin-bottom: 90px;
	vertical-align:top;
	margin-top:10px;
}

body.path-frontpage .view-noticias .view-content .views-field-title a {
        color: #01426a;
	text-decoration:none;
}

/*title noticias*/
body.path-frontpage .view-noticias .view-content .views-field-title{
	width:340px;
	margin-top:10px;
	margin-bottom:25px;
	text-align:center;
}

body.path-frontpage .view-noticias .view-content .views-field-title:hover{
	text-decoration: underline;
	text-decoration-color: #01426a;
}

/*noticias img*/

body.path-frontpage .view-noticias .view-content .views-row img{
	padding: 5px;
	box-shadow: 0 0 3px #EEE;
	background: #FFF;
	border: #EEE 1px solid;
}

body.path-frontpage .view-noticias .view-content .views-row img:hover{
	background:#f0f0f0;
}

/*noticias description*/

body.path-frontpage .view-noticias .views-field-body{
	width:340px;
}

body.path-frontpage .view-noticias .views-field-body p{
	width:340px;
	color:#666;
	text-align:justify;
	font-size: 13px;
}

/*
  View footer
  .view-footer
*/

/*footer wrapper first*/

body.path-frontpage .view-noticias .view-footer .services_wrapper{
	padding: 40px 0 10px;
	background-color: #007db8;
	background-image: linear-gradient(to right top,#2ea1ad,#0f5285);
	box-shadow: 0px 0px 3px 1px #0f5285;
}

/*content inside first wrapper*/

body.path-frontpage .view-noticias .view-footer .services_wrapper .services_content{
	width: 1129px;
	margin: 0 auto;
}

/*title news top*/

body.path-frontpage .view-noticias .view-footer .news_top .service_title{
	color: #fff;
	font-size:19px;
	font-weight: normal;
}

/*marker top*/

body.path-frontpage .view-noticias .view-footer .service_marker{
	border-top: #fff 1px solid;
	margin: 0 0 28px 0;
}

/*services items*/

body.path-frontpage .view-noticias .view-footer .service_item{
	display: inline-block;
	vertical-align: top;
	width:21%;
	padding: 0px 14px 32px 20px;
	transition: transform 0.3s, box-shadow 0.3s;
}

body.path-frontpage .view-noticias .view-footer .service_item a {
	transition: 0.2s;
	text-decoration: none;
	transition: 0.2s;
	text-decoration: none;
	padding: 20px 0;
	color: #2c2c30;
	font-size: 16px;
	width: 82%;
	display: block;
	margin: 0 auto;
}

body.path-frontpage .view-noticias .view-footer .service_item a:hover{
	transform: translateY(-5px);
	box-shadow: 0px 0px 1px 2px #CCC,inset 0px 0px 3px 0px #CCC;
	transition: 0.5s;
}

body.path-frontpage .view-noticias .view-footer .service_item a:hover .service_icon{
	transform: rotate(15deg);
}

/*icones default*/

body.path-frontpage .view-noticias .view-footer .service_icon{
	transition: 0.5s;
	background-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/services_icons.png);
	width:58px;
	height:58px;
	border-radius:14px;
	margin: 3px auto;
	background-size: 400px;
}

/*services titles default*/

body.path-frontpage .view-noticias .view-footer .service_item_title{
	font-family: "Open Sans";
	text-align: center;
	color: #fff;
}

/*icone aderir*/

body.path-frontpage .view-noticias .view-footer .service_icon_aderir{
	background-position-x: -133px;
	background-position-y: -164px;
}

/*icone incluir*/

body.path-frontpage .view-noticias .view-footer .service_icon_incluir{
	background-position-x: -28px;
	background-position-y: -164px;
}

/*icone solicitar exclusão do plano*/

body.path-frontpage .view-noticias .view-footer .service_icon_solicitar{
	background-position-x: -227px;
	background-position-y: -164px;
}

/*icone consultar débito*/

body.path-frontpage .view-noticias .view-footer .service_icon_consultar{
	background-position-x: -30px;
	background-position-y: -235px;
}

/*icone regras de utilização*/

body.path-frontpage .view-noticias .view-footer .service_icon_quitar{
	background-position-x: -325px;
	background-position-y: -237px;
}

/*icone parcerias firmadas*/

body.path-frontpage .view-noticias .view-footer .service_icon_parcerias{
	background-position-x: -227px;
	background-position-y: -237px;
}

/*icone solicitar autorização de procedimentos*/

body.path-frontpage .view-noticias .view-footer .service_icon_2via{
	background-position-x: -126px;
	background-position-y: -237px;
}

/*icone modelos de requerimentos*/

body.path-frontpage .view-noticias .view-footer .service_icon_modelos{
	background-position-x: -182px;
	background-position-y: -302px;
}


/*
  Contact footer
*/


body.path-frontpage .view-noticias .view-footer .contact{
	background: linear-gradient(0deg,rgba(227,227,227,1) 0%,rgba(227,227,227,1) 3%,rgba(227,227,227,1) 7%,rgba(247,247,249,1) 69%,rgba(247,247,249,1) 100%);
}


body.path-frontpage .view-noticias .view-footer .contact .contact_content{
	width: 1129px;
	margin: 0 auto;
	padding: 15px;
}

/*Contact box default*/

body.path-frontpage .view-noticias .view-footer .contact .contact_box{
	display: inline-block;
	vertical-align: top;
	width: 29%;
	padding: 18px 14px 43px 13px;
	background: #fff;
	height: 151px;
	margin: 50px 0 50px 15px;
	box-shadow: 0px 0px 5px 0px rgba(242, 239, 249, 0.94);
	border-radius: 4px;
}

/*Contact title h2 default*/
body.path-frontpage .view-noticias .view-footer .contact .contact_title h2{
	text-decoration: none;
	font-weight: normal;
	color: #646473;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 46px;
	padding: 2px 0 0 27px;
}

/*Contact text default*/

body.path-frontpage .view-noticias .view-footer .contact .contact_text{
	clear: both;
	padding: 0 15px;
}

body.path-frontpage .view-noticias .view-footer .contact .contact_text p{
	font-size: 15px;
	color: #4f4f51;
	text-align: left;
}

/*contact phone*/

body.path-frontpage .view-noticias .view-footer .contact .contact_icon_phone{
	width: 63px;
	height: 74px;
	float: left;
	background-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/services_icons.png);
	background-position-x: -66px;
	background-position-y: 66px;
	background-size: 423px;
}

/*contact fale conosco*/

body.path-frontpage .view-noticias .view-footer .contact .contact_icon_message{
	width: 63px;
	height: 74px;
	float: left;
	background-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/services_icons.png);
	background-position-x: -173px;
	background-position-y: 67px;
	background-size: 423px;
}

body.path-frontpage .view-noticias .view-footer .contact .contact_icon_address{
	width: 63px;
	height: 74px;
	float: left;
	background-image: url(https://pas.trt8.jus.br/sites/all/themes/trt8_pas/images/services_icons.png);
	background-position-x: -281px;
	background-position-y: 66px;
	background-size: 423px;
}
